.wrap {
  background-color: var(--background);
  border-radius: 1rem;
  padding-top: 2px;
}

.avatar {
  margin: 1rem auto;
  width: 11rem;
  height: 11rem;
  & img {
    width: 11rem;
    height: 11rem;
  }
}

.dragZone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 140px;
  border: 1px dashed var(--word2);
  color: var(--word2);
  text-align: center;
  border-radius: 20px;
}

.dragZone.active {
  background-color: var(--word1);
}

.change__avatar {
  min-width: 32rem;
  max-width: 50rem;
  margin: 0rem auto;
  & p {
    text-align: center;
    font-size: 1rem;
    color: var(--word2);
  }
  &-file {
    display: flex;
    justify-content: center;
    align-items: center;
    & input[type='file'] {
      outline: 0;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }
  & .label {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    & img {
      width: 3rem;
      height: 2rem;
    }
  }
}

.sending__button-img {
  border: none;
  background: none;
  cursor: pointer;
}
