.leaderboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 24px;
    background: var(--background);
    min-height: 500px;
    min-width: 600px;
    border-radius: 20px;

    &__title {
        margin: 0 0 24px;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.06em;
    }
}