.button {
  font-family: PequenaPro, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px 20px;
  border-radius: 80px;
  width: max-content;
  height: 64px;
  border: none;
  background-color: var(--word1);
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding-top: 18px;
}

.exit-btn {
  background-color: var(--word2);
  &:hover {
    background-color: var(--word3);
    text-decoration: underline;
    color: var(--background);
  } 
}
