.link-button {
    margin: 0;
    padding: 10px 20px;
    border-radius: 80px;
    width: max-content;
    height: 64px;
    background-color: var(--word1);
    color: var(--text);
    cursor: pointer;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-top: 18px;

    &:hover {
        background-color: var(--word3);
        text-decoration: underline;
        color: var(--background);
    }

    &_game-btn {
        margin-bottom: 30px;
    }

    &_login-btn {
        background-color: var(--word2);
    }

    &_header-btn {
        color: var(--background);
        height: 40px;
        padding-top: 16px;
        border-radius: 0;
        font-size: 14px;
        line-height: 20px;
        height: 30px;
    
        &:nth-child(1) {
            background-color: var(--word1);
        }
        &:nth-child(2) {
            background-color: var(--word2);
        }
        &:nth-child(3) {
            background-color: var(--word3);
        }
        &:nth-child(4) {
            background-color: var(--word1);
        }
    }
}