.game-page {
  margin: auto;
  text-align: center;
  color: var(--background5);
<<<<<<< HEAD
<<<<<<< HEAD
=======
  overflow: hidden
>>>>>>> f11144f (game)
=======
  overflow: hidden;
  font-family: PequenaPro, Arial, Helvetica, sans-serif;
<<<<<<< HEAD
>>>>>>> 44692d8 (game)
=======
  background-image: none;
  background-color: var(--secondary);
>>>>>>> e2fcc83 (game)
}

.game-page a {
  color: inherit;
}

.game-page a:hover {
  color: var(--text);
}

.game-page:before {
  display: block;
  margin-bottom: 0.5rem;
}
