.forum {
    max-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px 24px;
        background: var(--word3);
        min-height: 500px;
        max-height: 720px;
        min-width: 600px;
        border-radius: 20px;
        overflow-y: hidden;
        border-top-right-radius: inherit;
    }
    &__title {
        margin: 0 0 14px;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.06em;
    }

    &__topics {
        width: 100%;
        margin-bottom: 24px;
        min-height: 365px;
        max-height: 615px;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
            border: 1px solid var(--background3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--background2);
            opacity: 0.8;
            border-radius: 20px;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__field {
        border: none;
        margin-bottom: 16px;
        padding: 8px 10px;
        border-radius: 20px;
        border: 1px solid var(--background2);
        background-color: transparent;
        font-size: 14px;
        line-height: 20px;
        max-width: 240px;
        &_desc {
            max-width: 80%;
            margin-bottom: 24px;
        }
        &::placeholder {
            color: var(--background2);
        }
    }

    &__button {
        align-self: center;
        height: 54px;
        &:hover {
            background-color: var(--word1)
        };
    }
}