.form__field {
  position: relative;
  &-input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    outline: transparent;
    border-bottom: 1px solid var(--secondary);
    background: transparent;
    &:focus + .form__field-label,
    &:valid + .form__field-label {
      top: -20px;
      left: 0;
      font-size: 14px;
    }
  }
  &-label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: var(--background5);
    pointer-events: none;
    transition: .5s;
  }
}
