.container {
  position: absolute;
  bottom: 7px;
  border-radius: 0;
  left: 100px;
  cursor: pointer;
  margin: 0px;
  height: 50px;
  width: 50px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--text);
}

.container:hover input ~ .checkmark {
  background-color: var(--text);
}

.container input:checked ~ .checkmark {
  background-color: var(--tertiary);
}

.container input:checked ~ .checkmark:after {
  display: block;
}
