@import '@/styles/mixins.scss';

.wrap {
  @include min-max(32rem, 100%, 0);
}

.data {
  @include min-max-m(32rem, 50rem, 1rem, 0);
  background: var(--background);
  margin: 0 auto;

  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--text);
    border-bottom: 0.1rem solid var(--word2);
    line-height: 1.5rem;
    padding: 1rem 1rem 0 1rem;
  }
}

.management {
  @include min-max(32rem, 50rem, 0);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  & a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--fivefold);
    text-decoration: none;
    cursor: pointer;
    & p {
      text-align: center;
      margin: 0.3rem;
      padding-top: 0.3 rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
