.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    position: absolute;
    top: -31px;
    right: -1px;
}

.header__btn {
    color: var(--background);
    height: 30px;
    padding-top: 16px;
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;

    &:nth-child(1) {
        background-color: var(--word1);
    }
    &:nth-child(2) {
        background-color: var(--word2);
    }
    &:nth-child(3) {
        background-color: var(--word3);
    }

    &:hover {
        text-decoration: underline;
    }
}