:root {
  /* colors */
  --text: #121212;
  --background: white;
  --primary: #6da86e;
  --secondary: #84c8ef;
  --tertiary: #dedd61;
  --quaternary: #d07e95;
  --fivefold: #6658d3;
  --error: #f44250;
  --background1: #e3e3e3;
  --background2: #f7f7f7;
  --background3: #c8c8c8;
  --background4: #a4a4a4;
  --background5: #818181;
  --word1: #dedc00;
  --word2: #2fac66;
  --word3: #ed729f;
  --darkblue: #00022e;
}
