.container {
  margin: 20px;
  padding: 20px;
}

.subforum {
  margin-top: 20px;
}

.subforum-title {
  background-color: var(--fivefold);
  padding: 5px;
  border-radius: 5px;
  margin: 4px 4px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  & .title {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
    color: var(--background);
  }
  & .link {
    margin: 0 1rem 0 auto;
    color: var(--word1);
    text-decoration: none;
    cursor: pointer;
  }
}

.subforum-row {
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: var(--background2);
  & span {
    font-size: 0.8rem;
  }
}

.subforum-description * {
  margin-block: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon .w-6-h-6 {
  font-size: 1rem;
  color: var(--word2);
}

.subforum-devider {
  display: none;
}

h4 {
  & a {
    color: var(--word3);
  }
}

/* Для смартфонов */
@media screen and (max-width: 460px) {
  .container {
    margin: 10px;
    padding: 10px;
  }

  .subforum-row {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
  }

  .subforum-devider {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(190, 190, 190, 0),
      rgba(255, 255, 255, 0.75),
      rgba(190, 190, 190, 0)
    );
  }

  .subforum-title {
    h1 {
      font-size: 1.2rem;
    }
  }
}

/* Для планшетов */
@media screen and (min-width: 460px) and (max-width: 1024px) {
  .container {
    margin: 15px;
    padding: 15px;
  }

  .subforum-row {
    display: grid;
    grid-template-columns: 10% 57% 13% 20%;
  }

  .subforum-icon i {
    font-size: 35px;
  }

  html {
    font-size: 14px;
  }

  h1 {
    font-size: 16px;
  }
}
