.subforum-row {
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: var(--background2);
  & span {
    font-size: 0.8rem;
  }
}

.subforum-info {
  font-size: 0.8rem
}

.subforum-description * {
  margin-block: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon .w-6-h-6 {
  font-size: 1rem;
  color: var(--word2);
}

h4 {
  & a {
    color: var(--word3);
  }
}

/* Для смартфонов */
@media screen and (max-width: 460px) {
  .subforum-row {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60% 40%;
  }

  .subforum-icon .w-6-h-6 {
    width: 2rem;
  }

  .subforum-column {
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    background-color: var(--background2);
    & small {
      font-size: 0.5rem;
    }
    & span {
      font-size: 0.5rem;
    }
  }

  .subforum-description {
    & p {
      font-size: 0.7rem;
    }
  }

  .subforum-info {
    font-size: 0.8rem
  }

}

/* Для планшетов */
@media screen and (min-width: 460px) and (max-width: 1024px) {


  .subforum-row {
    display: grid;
    grid-template-columns: 10% 57% 13% 20%;
  }

  .subforum-icon .w-6-h-6 {
    width: 2rem;
  }
}
